% -*- mode: erlang -*-
{erl_opts, []}.

{erl_first_files, ["src/econfig_frontend.erl"]}.

{escript_name, "econfig"}.
{escript_emu_args, "%%! -smp auto -econfig caller escript -escript main econfig -pa econfig/econfig/ebin\n"}.

{deps, 
 [
  {getopt,          "0.8.2"}
 ,{bbmustache,      {git, "https://github.com/soranoba/bbmustache.git", {tag, "v1.0.4"}}}
 ]}.
